/Dataset/

__pycache__/
*.py[cod]
*.so

venv/
.env

node_modules/

.vscode/
.idea/
.DS_Store

build/
.packages
.flutter-plugins
.flutter-plugins-dependencies

linux/build/
macos/build/
windows/build/
ios/build/
android/build/