/Dataset/

__pycache__/
*.py[cod]
*.so

venv/
.env

node_modules/

.vscode/
.idea/
.DS_Store

build/
.packages
.flutter-plugins
.flutter-plugins-dependencies

linux/build/
macos/build/
windows/build/
ios/build/
android/build/
ui_prototype/linux/flutter/generated_plugins.cmake
ui_prototype/windows/flutter/generated_plugins.cmake
ui_prototype/windows/flutter/generated_plugin_registrant.h
ui_prototype/macos/Flutter/GeneratedPluginRegistrant.swift
ui_prototype/linux/flutter/generated_plugin_registrant.h
ui_prototype/linux/flutter/generated_plugin_registrant.cc
